<div class="about md:h-40">
  <h2 class="text-blue-900 text-4xl p-5 font-bold md:p-30">Contact Us</h2>
</div>

<div class="contact pt-7">
  <div class="group relative bg-[#001030] overflow-hidden shadow-lg">

    <!-- Background Image -->
    <img src="/banner3.png" class="w-full h-[660px] object-cover transition-all duration-300
             group-hover:opacity-40 group-hover:grayscale" alt="" />

    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- Contact Form Box -->
    <div class="absolute inset-0 flex items-center justify-center px-4">
      <div class="relative bg-[#001030] w-full max-w-xl p-8 md:p-10 text-white shadow-2xl">

        <h1 class="text-2xl font-semibold mb-6 text-center">
          Contact Us
        </h1>

        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="grid grid-cols-1 md:grid-cols-2 gap-4">

          <input type="text" formControlName="fullName" placeholder="Your Full Name"
            class="col-span-2 md:col-span-1 px-4 py-2 bg-transparent border border-white/30" />

          <input type="text" formControlName="country" placeholder="Country / Location"
            class="col-span-2 md:col-span-1 px-4 py-2 bg-transparent border border-white/30" />

          <input type="email" formControlName="email" placeholder="Email"
            class="col-span-2 md:col-span-1 px-4 py-2 bg-transparent border border-white/30" />

          <input type="text" formControlName="phone" placeholder="Contact Number"
            class="col-span-2 md:col-span-1 px-4 py-2 bg-transparent border border-white/30" />

          <input type="text" formControlName="company" placeholder="Company Name"
            class="col-span-2 px-4 py-2 bg-transparent border border-white/30" />

          <input type="text" formControlName="subject" placeholder="Subject"
            class="col-span-2 px-4 py-2 bg-transparent border border-white/30" />

          <textarea formControlName="message" placeholder="Message"
            class="col-span-2 px-4 py-2 h-28 bg-transparent border border-white/30 resize-none"></textarea>

          <button type="submit" [disabled]="loading" class="col-span-2 mt-4 bg-white text-[#001030] font-semibold py-3">
            {{ loading ? 'Sending...' : 'Send Message' }}
          </button>

        </form>

        <!-- Messages -->
        @if (successMsg) {
        <p class="text-green-400 mt-3">{{ successMsg }}</p>
        }

        @if (errorMsg) {
        <p class="text-red-400 mt-3">{{ errorMsg }}</p>
        }


      </div>
    </div>

  </div>
</div>