<div class="about md:ps-16 md:h-15">
  <h2 class="text-blue-900 text-2xl p-5 font-bold md:pt-38 md:ps-15">Products and Services</h2>
</div>
@if (product) {
<div class="max-w-6xl mx-auto px-5 py-15">

  <!-- Product Name -->
  <h1 class="text-2xl sm:text-3xl mt-20 font-semibold mb-6">
    {{ product.name }}
  </h1>

  <!-- MAIN GRID -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-start">

    <!-- LEFT : TEXT -->
    <div>
      <hr class="border-gray-300 mb-6">

      @if (category?.description1) {
      <p class="text-gray-700 mb-6 leading-relaxed">
        {{ category.description1 }}
      </p>
      }

      @if (category?.description2) {
      <p class="text-gray-700 mb-6 leading-relaxed">
        {{ category.description2 }}
      </p>
      }
    </div>

    <!-- RIGHT : IMAGE GALLERY -->
    @if (product?.images?.length) {
    <div class="w-full md:px-10 ">

      <!-- Main Image -->
      <div class="w-full mb-2">
        <img [src]="selectedImage" class="w-full h-60 md:h-[280px]
                 object-cover border transition-all duration-300" alt="{{ product.name }}" />
      </div>

      <!-- Thumbnails -->
      <div class="grid grid-cols-3 sm:grid-cols-3 gap-3">
        @for (img of product.images; track $index) {
        <button type="button" (click)="selectImage(img)" class="relative overflow-hidden border
               transition-all duration-200 focus:outline-none">
          <img [src]="img" class="w-full h-20 sm:h-24 object-cover" class="relative overflow-hidden border
               transition-all duration-200 focus:outline-none" [class.border-black]="selectedImage === img"
            [class.ring-2]="selectedImage === img" [class.ring-black/40]="selectedImage === img"
            [class.opacity-70]="selectedImage !== img" alt="{{ product.name }}" />
        </button>

        }
      </div>

    </div>
    }

  </div>


  <!-- CTA -->
  <!-- <a
    routerLink="/contact"
    class="inline-flex items-center justify-center
           px-8 py-3 rounded-full
           bg-black text-white font-semibold
           hover:bg-gray-800 transition"
  >
    Get Quote
  </a> -->

</div>
}


<!-- contact form  -->
<div class="max-w-6xl mx-auto px-5
            grid grid-cols-1 lg:grid-cols-12 py-10 gap-10 items-start">

  <!-- LEFT CONTENT -->
  <div class="lg:col-span-6 text-blue-900">
    <h2 class="text-5xl font-semibold  mb-4">
      GET A FREE QUOTE
    </h2>
    <p class="text-gray-400 leading-relaxed max-w-md">
      Looking for the right desiccant solution for your packaging needs?
      Share your requirements with us and our experts will provide you
      with a customized quote at the earliest.
    </p>
  </div>

  <!-- RIGHT FORM -->
  <div class="lg:col-span-6">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <input type="text" placeholder="Your Full Name" class="px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <input type="text" placeholder="Country / Location" class="px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <input type="email" placeholder="Email" class="px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <input type="text" placeholder="Contact Number" class="px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <input type="text" placeholder="Company Name" class="md:col-span-2 px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <input type="text" placeholder="Subject" class="md:col-span-2 px-4 py-3 border border-gray-400 text-gray-700
               focus:outline-none focus:border-gray-600 transition" />

      <textarea placeholder="Message" rows="4" class="md:col-span-2 px-4 py-3 border border-gray-400 text-gray-700
               resize-none focus:outline-none focus:border-gray-600 transition"></textarea>

      <!-- BUTTON -->
      <button type="submit" class="md:col-span-2 inline-flex items-center justify-center gap-2
               bg-white text-[#001030] font-semibold py-3
               hover:text-blue-900 transition">
        Send Message
        <span class="material-symbols-outlined">arrow_right_alt</span>
      </button>

    </form>
  </div>

</div>