/* Carousel base */
.carousel {
  position: relative;
}

/* Slides wrapper */
.slides {
  position: relative;
}

/* Hide radios */
.slides input {
  display: none;
}

/* Slide container */
.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Image */
.slide-image {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Controls */
.carousel-controls {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  padding: 0 20px;
  z-index: 10;
}

.carousel-controls label {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.slide-container:hover .carousel-controls label {
  opacity: 0.7;
}
input:checked + .slide-container {
  /* opacity: 1; */
  z-index: 1;
}
/* Active slide */
input:checked + .slide-container .slide-image {
  opacity: 1;
  z-index: 1;
}

/* Dots */
.carousel-dots label {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  cursor: pointer;
}

input#img-1:checked ~ .carousel-dots label[for="img-1"],
input#img-2:checked ~ .carousel-dots label[for="img-2"],
input#img-3:checked ~ .carousel-dots label[for="img-3"] {
  opacity: 1;
}


.icon-big {
  font-size: 48px;               /* size */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;                   /* VERY IMPORTANT */
}
